<div>
    <p class="uk-legend">Exchange parameters</p>

    <div class="uk-margin-small">
        <label class="uk-form-label" for="exchange">Selected exchange</label>

        <div class="uk-form-controls">

            <select name="exchange"
                    id="exchange"
                    class="uk-select uk-form-width-medium">
                {% for i, name in exchanges %}
                    <option value="{{ name }}" {{ name == settings.user.exchange ? 'selected' }}>{{ name|capitalize }}</option>
                {% endfor %}
            </select>

        </div>
    </div>

    <div class="uk-margin-small">
        <label class="uk-form-label" for="api-key">Api-key</label>

        <div class="uk-form-controls">
            <div class="uk-inline">
                <a class="uk-form-icon uk-form-icon-flip" uk-icon="lock" uk-tooltip="Show the key"></a>
                <input type="password"
                       name="apiKey"
                       id="api-key"
                       class="uk-input uk-form-width-large"
                       value="{{ settings.user.apiKey }}">
            </div>
        </div>
    </div>

    <div class="uk-margin-small">
        <label class="uk-form-label" for="symbol">Symbols</label>

        <div class="uk-form-controls">

            <select name="symbol"
                    id="symbol"
                    {# multiple size="10"#}
                    class="uk-select uk-form-width-medium">

                {% for symbol, pairs in settings.symbols %}
                    <option value="{{ symbol }}"
                            data-pairs="{{ pairs }}" {{ symbol == settings.user.symbol ? 'selected' }}>
                        {{ symbol }}
                    </option>
                {% endfor %}

            </select>

            <select name="pair"
                    id="pair"
                    {# multiple size="10"#}
                    class="uk-select uk-form-width-medium"
                    data-value="{{ settings.user.pair }}"
                    data-default="{{ settings.user.__proto__.pair }}">
            </select>

            {#<button type="button" class="update uk-icon-button" uk-icon="refresh" uk-tooltip="Get symbols from exchange and save them to the local database"></button>#}
            <button type="button" class="getSymbols uk-button uk-button-small uk-button-secondary" uk-tooltip="Get symbols from exchange and save them to the local database">
                Update symbols
            </button>

        </div>
    </div>


    <div class="uk-margin-small">
        <label class="uk-form-label" for="selected-pair">Selected pair:</label>
        <div class="uk-form-controls">
            <input type="text"
                   name="selectedPair"
                   id="selected-pair"
                   class="uk-input uk-form-blank uk-form-width-medium"
                   value="{{ settings.user.selectedPair }}"
                   required>
        </div>
    </div>

    <p class="uk-legend uk-margin-large-top">Import data from exchange</p>


    <div class="uk-margin-small">
        <label class="uk-form-label" for="period">Timeframe</label>
        <div class="uk-form-controls">
            <select name="timeframe"
                    id="timeframe"
                    class="uk-select uk-form-width-small">
                {% for timeframe in settings.timeframes %}
                    <option value="{{ timeframe }}" {{ timeframe == settings.user.timeframe ? 'selected' }}>{{ timeframe }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="uk-margin-small">
        <label class="uk-form-label" for="period">Period</label>
        <div class="uk-form-controls">
            <input type="text"
                   name="period"
                   id="period"
                   class="uk-input uk-form-width-small"
                   value="{{ settings.user.period[0] }}">
            <input type="text"
                   name="period"
                   class="uk-input uk-form-width-small"
                   value="{{ settings.user.period[1] }}">
        </div>
    </div>


    <p>
        <button type="button" class="getCandles uk-button uk-button-small uk-button-secondary" uk-tooltip="Get candles from exchange and save them to the local database">
            Get candles
        </button>
    </p>

    {% if settings.candles|length > 2 %}
        <ul uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#">Show candles</a>
                <div class="uk-accordion-content">

                    {% embed "../chart.twig" %}{% endembed %}

                </div>
            </li>
        </ul>

    {% endif %}


</div>