<div>
    <p class="uk-legend">Interface tuning</p>

    <div class="uk-margin-small">
        <label class="uk-form-label" for="theme">Theme</label>
        <div class="uk-form-controls">

            <select name="theme"
                    id="theme"
                    class="uk-select uk-form-width-medium"
                    data-value="{{ settings.user.theme }}"
                    data-default="{{ settings.user.__proto__.theme }}">
                {% for style in settings.themes %}
                    <option value="{{ style }}" {{ style == settings.user.theme ? 'selected' }}>{{ style|capitalize }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


</div>
